{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

    <h1>Home</h1>
    <p>Name: {{ name }}</p>

    <p>Status: {{ settings.activeStatus }}</p>
    <form method="post">
        <p>Application Name: <input name="application-name" value="{{ settings.applicationName }}" /></p>
        <button type="submit">Save</button>
    </form>
    <p>UpdatedAt: {{ settings.updatedAt.format('Y-m-d H:i:s') }}</p>

{% endblock %}
