<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard{% endblock %} - {{ settings.applicationName }}</title>

    <link rel="stylesheet" href="{{asset('global.css')}}" />
</head>
<body>
<div class="header">App</div>
<div class="content">
    {% block body %}{% endblock %}
</div>
<!--
<script src="{{asset('js/bootstrap.js')}}"></script>
-->
</body>
</html>
